.cale {
    height: 100%;
    width: 100%;
}

.days {
    width: 60px;
    height: 100px;
    padding: 5px;
    text-align: center;
    overflow: scroll;
}

.schedule-content {
    font-size: 13px;
}



::-webkit-scrollbar {
    display:none;
}
