.form-area {
    display: flex;
    justify-content: center;
    text-align: center;
}

.schedule-form {
    height: 100%;
    width: 500px;
    margin-top: 100px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid;
    color: #AAAAAA;
}

.form-event, .form-time, .form-event-jquery {
    border: none;
    background-color: #FFFAF0;
}

.form-event, .form-event-jquery {
    height: 50px;
    margin-bottom: 20px;
}

.btn-area {
    display: flex;
    margin: 30px 0 30px 30px;
    padding-left: 53px;
}

.form-btn {
    height: 40px;
    width: 100px;
}

.form-btn:hover, .cancel-btn:hover, .selected-btn:hover  {
    transform: translate3d(0, 3px, 0);
    box-shadow: none;
}

.form-btn, .cancel-btn, .selected-btn {
    border: 1px solid #AAAAAA;
    box-shadow: 5px 5px 10px #AAAAAA;
    background-color: #FFFAF0;
    border-radius: 10px;
}

.cancel-btn {
    height: 40px;
    width: 80px;
    margin-right: 20px;
}

.select-area {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.form-event-jquery {
    border: none;
    display: none;
}