<% if user_signed_in?%>
    <div class="cale">
        <h1>Schedule</h1>

        <% unless @event==nil %>
            <%= month_calendar events: @events do |date, events| %>
                <div class="days">
                    <%= date.day %>
                        <% events.each do |event| %>
                            <% if current_user.id == event.user_id %>
                                <%= event.start_time.strftime('%H:%M') %>
                                <%= link_to event.title, event_path(event) %>
                            <% end %>
                        <% end %> 
                </div>   
            <% end %>
        <%end%>
    </div>
<% end %>