
<div class="cale">
    <h1>Schedule</h1>

    <%= month_calendar events: @events do |date, events| %>
        <div class="days">
            <%= date.day %>
            <% @events.each do |event| %>
                <% link_to event.title, event_path(event) %>
                <%#= event.start_time %>
            <% end %>
        </div>
    <% end %>
</div>