<% if user_signed_in?%>
    <div class="cale">
        <h1>Schedule</h1>

        <% unless @event==nil %>
            <%= month_calendar events: @events do |date, events| %>
                <div class="days">
                    <%= date.day %>
                    <% events.each do |event| %>
                        <%= event.start_time.strftime('%H:%M') %>
                        <%= link_to event.title, event_path(event) %>
                    <% end %>
                </div> 
            <% end %>
        <%end%>
    </div>
<% end %>