
<div class="cale">
    <h1>Schedule</h1>

    <%= month_calendar events: @events do |date, events| %>
        <div class="days">
            <%= date.day %>
            <% events.each do |event| %>
                <%= event.start_time.strftime('%H:%M') %>
                <%= link_to event.title, event_path(event) %>
            <% end %>
        </div>
    <% end %>
</div>