html {
    background-color: #FFFAF0;
}

.header-content {
    height: 70px;
    border-bottom: 1px solid #778899;
    opacity: 0.6;
}

.header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #FFA500;
    font-family: STXingkaiSC-Light;
    font-weight: bold;
    font-size: 50px;
    display: inline;
    margin: 0 0 10px 20px ;
}

.icon-area {
    display: flex;
}

.icon-btn {
    margin: 10px 20px;
    height: 30px;
}

.material-icons {
    cursor: pointer;
}

abbr[title], acronym[title] {
    border-bottom-width: 0;
  }


.face-btn:hover {
    background-color: red;
    opacity: 0.5;
}

.navbar {
    height: 250px;
    width: 200px;
    position: absolute;
    right: 50px;
    top: 70px;
    border-radius: 10px;
    padding: 20px 0 0 50px;
    box-shadow: 5px 5px 10px , -5px -5px 10px #AAAAAA;
    display: none;
    background-color: #FFFFFF;
    opacity: 1;
}

.nav-lists>li {
    font-size: 25px;
    margin-bottom: 10px;
}

.logo {
    font-family: STXingkaiSC-Light;
    font-weight: bold;
    font-size: 40px;
    display: inline;
    padding:  0  0 20px 20px;
}

.logo, #link-content {
    color: #FFA500;
}

#link-content {
    margin-right: 20px;
    font-size: 40px;
    text-decoration: none;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 100px);
}

.left-side, .right-side {
    height: calc(100vh - 100px);
}

.left-side {
    width: 200px;
}

.main-memo {
    position: fixed;
    left: 200px;
    width: calc(100vw - 800px);
}

.memo-area {
    height: calc(100vh - 200px);
    overflow: scroll;
}

.memo-area::-webkit-scrollbar {
    display:none;
}

.form-space {
    height: 60px;
    padding: 10px 30px;
    display: flex;
}

.form-input {
    font-family: Chalkboard;
    background-color: white;
    width: 100%;
}

.form-memo {
    border: none;
    height: 30px;
    width: 100%;
    padding-left: 10px;
}

.form-submit {
    background-color: #FFA500;
    border: none;
    color: white;
    font-size: 16px;
    height: 30px;
    margin-left: 15px;
    padding: 0 20px;
}

.right-side {
    padding-top: 100px;
    width: 600px;
}

.calendar {
    height: 100%;
    width: 100%;
}

.box25{
    width: 500px;
    margin: 20px;
    position: relative;
    background: #fff0cd;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
}

.box25:after{
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #ffdb88 #fff #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

.box25 p {
    margin: 0; 
    padding: 0;
}

.room {
    display: flex;
    justify-content: space-between;
}

.delete-btn {
    display: none;
    text-decoration: none;
    color: #FFA500;
}

.delete-btn:after {
    pointer-events: none;
    content: " ";
}

#room-name:hover + .delete-btn {
    opacity: 0.8;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    color: #C0C0C0;
}