html {
    background-color: #FFFAF0;
}

.header {
    height: 60px;
    width: 100%;
    padding: 5px 20px;
    font-family: Chalkboard;
    display: flex;
    justify-content: space-between;
}

.search-bar-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-form {
    width: 300px;
    height: 5vh;
    display: flex;
    margin-bottom: 5px;
}

.search-btn>.input-box {
    width: 100%;
    height: 5vh;
    padding-left: 10px;
}

.search-button {
    width: 5vh;
    border: 0;
    cursor: pointer;
    background-color: #3ccace;
    padding: 8px;
}

.logo {
    font-family: STXingkaiSC-Light;
    font-weight: bold;
    font-size: 40px;
    display: inline;
    padding:  0  0 20px 20px;
}

.greet {
    display: inline;
    font-size: 35px;
    padding-left: 50px;
    margin: 0 20px 0 20px;
}

.user-lists {
    float: right;
    display: flex;
    font-size: 25px;
    color: #FFA500;
}

li {
    margin: 5px;
    list-style: none;
    text-decoration: none;
}

.logo, .greet {
    color: #FFA500;
}

#link-content {
    margin-right: 20px;
    font-size: 40px;
    text-decoration: none;
    color: #FFA500;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.left-side, .main_memo, .right-side {
    height: calc(100vh - 60px);
}

.left-side {
    width: 200px;
}

.main-memo {
    width: calc(100vw - 650px);
}

.memo-area {
    height: calc(100vh - 120px);
}

.form-space {
    height: 60px;
    padding: 10px 30px;
    display: flex;
}

.form-input {
    font-family: Chalkboard;
    background-color: white;
    width: 100%;
}

.form-memo {
    border: none;
    height: 30px;
    width: 100%;
    padding-left: 10px;
}

.form-submit {
    background-color: #FFA500;
    border: none;
    color: white;
    font-size: 16px;
    height: 30px;
    margin-left: 15px;
    padding: 0 20px;
}

.right-side {
    width: 450px;
}

.calendar {
    height: 50%;
    width: 100%;
}

.schedule {
    height: 50%;
    width: 100%;
}

.box25{
    margin: 10px;
    position: relative;
    background: #fff0cd;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
}
.box25:after{
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #ffdb88 #fff #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}
.box25 p {
    margin: 0; 
    padding: 0;
}
