.containers {
    border: solid 2px #AAAAAA;
    border-radius: 10px;
    height: 100%;
    width: 650px;
    margin-bottom: 50px;
    overflow: scroll;
}
.containers::-webkit-scrollbar {
    display:none;
}

.title-path {
    text-decoration: none;
    color: #FFA500;
}