.show-container {
    height: 100%;
    width: 100%;
}

.show-header {
    height: 100px;
    width: 100%;
    padding-top: 30px;
    text-align: center;

}

.show-header>p {
    font-size: 50px;
    color: #FFA500;
    font-family: Chalkboard;
}

.show-contents {
    padding-top: 30px;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
}

.more {
    width: calc(100vw - 50%);
    height: calc(100vh - 50%);
    border: 2px solid #AAAAAA;
    border-radius: 10px;
    text-align: center;
    /* display: flex;
    justify-content: center; */
}

.more-lists {
    margin: 20px;
    flex-direction: column;
    margin: 10px;
}

.more-lists>p {
    display: inline;
    padding-right: 10px;
}