<% if user_signed_in? %>
  <div class="rooms">
    <% current_user.rooms.each do |room| %>
      <div class="room">
        <%= link_to room.name, room_memos_path(room), id: "room-name" %>
      </div>
    <% end %>
  </div>
<% end %>