<div class="chat-header">
    <div class="left-header">
        <div class="header-title">
            <%= @room.name %>
        </div>
    </div>
</div>

<div id="memo">
    <%= render "memo", {memos: @memos} %>
</div>

<div class="memo">
    <%= render partial: 'form', collection: {memo: @memo} %>
</div>

