<div class="chat-header">
    <div class="left-header">
        <div class="header-title">
            <%= @room.name %>
        </div>
    </div>
    <%
=begin%>
 <div class="right-header">
        <div class="header-button">
            <%= link_to "チャットを終了する", root_path(@room), method: :delete %>
        </div>
    </div> 
<%
=end%>
</div>

<div id="memo">
<%= render "memo", {memos: @memos} %>
</div>

<div class="memo">
    <%= render partial: 'form', collection: {memo: @memo} %>
</div>

