
<div class="veiw-memo">
    <% @memos.each do |memo| %>
        <div class="box25">
            <%= form_with(model: [@room, @memo],remote: true) do |f| %>
            <%= f.text_area :content  %>
                <textarea name="description"><%= memo.content %></textarea>
                <%= f.submit '保存', class: 'form-submit' %>
                <button class="form-submit">キャンセル</button>
            <% end %>
        </div>  
    <%end%>
</div>