<div class="calendar">
    <%= render "calendar" %>
</div>

<div class="schedule">
    <%#= link_to new_room_path do %>
        <span class='material-icons'>add</span>
    <%# end %>
    <span class="material-icons">
        clear
    </span>
</div>