<div class="calendar">
    <span class="material-icons">
        navigate_before
    </span>
    <span class="material-icons">
        navigate_next
    </span>
</div>

<div class="schedule">
    <%#= link_to new_room_path do %>
        <span class='material-icons'>add</span>
    <%# end %>
    <span class="material-icons">
        clear
    </span>
</div>