<div class="header">
    <%= render "shared/header" %>
</div>

<div class="wrapper">
    <div class="left-side">
        <%= render "left_side_bar" %>
    </div>

    <div class="main-memo">
        <%= render "main_memo" %>
        <%#= render "test" %>
        <%#= render partial: "memos_tests", collection: {memos: @memos} %>
    </div>
    
    <div class="right-side">
        <%= render "events/right_side" %>
    </div>
</div>