<div class="header">
    <div class="logo">
        MemoSuke
    </div>

    <%= render "rooms/header" %>
</div>

<div class="wrapper">
    <div class="left-side">
        <%= render "left_side_bar" %>
    </div>

    <div class="main-memo">
        <%= render "main_memo" %>
    </div>
    
    <div class="right-side">
        <%= render "right_side_bar" %>
    </div>
</div>